{% extends "BaseTemplate.html" %}
{% block title %}Détail de {{ami.ID}} {% endblock %}


{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
{{ ami }}

    <h2> {{id}}</h2>
    <form class="form-group" action="index.php" >
        <fieldset>

            <legend>{{nom}}</legend>

            <input type="hidden" name="action" value="patch">
            <input type="hidden" name="id" value="{id}}">
            <p>
                <label for="nom">Nom:</label>
                <input class="form-control" type="text" name="nom"
                       value="{{ nom }}" required
                       pattern="[A-Za-z]{2,22}"
                       title="Entrez un nom avec au moins 2 caratères et max 22"/>

                <label for="prenom">PRENOM:</label>
                <input class="form-control" type="text" value="{{ prenom }}">
                <label for="naissance">NAISSANCE:</label>
                <input class="form-control" type="date" name="naissance" value="{{ami.NAISSANCE}}">
                <label for="ville">VILLE:</label>
                <input class="form-control" type="text" name="ville" value="{{ami.VILLE}}">

                <input type="submit" value="modifier">
        </fieldset>

    </form>
</div>
{% endblock %}
